VITE_SUPABASE_URL=https://pnbggstjuvgesmdowppa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBuYmdnc3RqdXZnZXNtZG93cHBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNzc0MjAsImV4cCI6MjA5Njc1MzQyMH0.hJWmOeOtt9xWPlxbB2ZOonZER4p-Yq1-ZRrDlp-dQh8
